extends layout 

block content 
    #banner.page-header 
        .row
            .col-lg-6 
                h1  
                    | MekanBul 
                    small &nbsp; Civardaki mekanları keşfet!
    .row 
        .row.list-group 
        .col-xs-12.col-sm-12 
          .col-xs-12.list-group-item
            h4 
             a(href='/mekan') Brewmood Kafe
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 8km
            p.adress İyaş Avm Giriş
            p 
              span.label.label-warning Kahveler 
              | &nbsp;
              span.label.label-info Tatlılar      
    .row 
        .row.list-group 
        .col-xs-12.col-sm-12 
          .col-xs-12.list-group-item
            h4 
             a(href='/mekan') Starbucks
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default 10km
            p.adress İyaş Avm Giriş
            p 
              span.label.label-warning Kahveler
              | &nbsp;
              span.label.label-info Tatlılar  
                  .row 
        .row.list-group 
        .col-xs-12.col-sm-12 
          .col-xs-12.list-group-item
            h4 
             a(href='/mekan') Cam Kafe
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 1km
            p.adress SDÜ Batı Kampüsü
            p 
              span.label.label-warning Çay
              | &nbsp;
              span.label.label-info Kahveler      
    
